@media (width < 480px) {
  .audio-card-container {
    position: relative;
    width: 10.25rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 8px;
  }
}