@media (width < 480px) {
  .img-container {
    display: flex;
    position: relative;
  }

  .user-img-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    margin: 2rem 0;
    background-color: #d0d1e1;
    border-radius: 50%;
  }

  .info-user-form {
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}