@media (width < 480px) {
  .pass-recovery-img {
    align-self: self-start;
    margin-top: 10rem;
    margin-bottom: 4rem;
  }

  .pass-recovery-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 7rem;
  }
}