@media (width < 480px) {
  .home-header-container,
  .subtitle-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .welcome-msg-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .subtitle-container {
    align-items: center;
  }
}