.checkbox-container{
  display: flex;
  align-items: center;
  width: 6rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 3rem 0;

  & .menu-option {
    display: flex;
    margin: 1rem 0;
    width: 18.75rem;
    align-items: center;
    justify-content: space-between
  }
}